body{
    display:flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: 'Roboto';
    margin: 0;
}
#top {
    background-color: #1F2937;
    width: 100%
}
.header{
    display:flex;
    justify-content: space-between;
    height: 30px;
    padding: 8px 80px; 
    margin: 0 auto;
    max-width: 1000px;
}
.logo{
    display: flex;
    color:white;
    font-weight:bold;
    align-items: center;
    font-size: 24px;
  
}
ul{
    list-style: none;
    display:flex;
    margin:0;
    gap: 16px;
    color: white;
    align-items: center;
    font-size:12px;
}
.desc{
    display:flex;
    padding: 80px ;
    margin:0 auto;
    background-color: #1F2937;
    color: white;
    justify-content: space-between; 
    max-width:1000px;
    max-height: 300px;
    gap: 100px;
}
.desc .text{
    max-width: 500px;
  
}
.desc .head{
    font-size:48px;
    font-weight:bolder;
    color: #f9faf8;
}
.desc .info{
    font-size: 18px;
    color:#E5E7EB;
    margin-top:10px;
    margin-bottom:20px;
}
button {
    background-color: #3882F6;
    color:white;
    border-radius: 6px;
    font-weight:bold;
    width:100px;
    padding:8px 12px;
    outline:none;
}
#information{
    width: 100%;
    padding-top:40px;
    padding-bottom:100px;
}
#information .info {
    max-width:300px;
    font-size: 18px;
    text-align: center;
}
#information .header{
    font-size: 36px;
    font-weight:800;
    color:#1F2937;
    justify-content: center;
    margin-bottom:70px;
}
.container{
    display:flex;
    max-width: 1400px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: end;
    
}
.imgbox{
    width:300px;
    border: solid;
    border-color:#3173df;
    border-radius: 10px;
}

#review {
    width: 100%;
    background-color: #E5E7EB;
    padding: 100px 80px;
   
}
.quote{
    font-style:italic;
    color:#1F2937;
    font-size:36px;
    max-width: 900px;
    margin:auto;
    margin-bottom:20px;
    font-weight:lighter;
}
.quoter{
    font-size: 24px;
    font-weight:800;
    color:#1F2937;
    max-width: 800px;
    margin:auto;
    text-align: end;
}
#sign{
    padding:80px;
    width:100%;
}
.reg{
    background-color: #3882F6;
    max-width: 800px;
    margin:0 auto;
    padding: 60px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius:8px;
}
.call .header{
    padding:0;
    font-weight:bold;
    font-size: 20px;
}
.call .text{
    font-size:18px;
}
.signup {
    padding:0;
    height: 30px;
    border-color:white;
    border:solid;
    border-width: 2px;
    align-self: center;
}
.copyright{
    background-color: #1F2937;
    color:white;
    padding:40px;
    text-align: center;
}