body{
    display:flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: 'Roboto';
    margin: 0;
}
#top {
    background-color: #1F2937;
    width: 100%
}
.header{
    display:flex;
    justify-content: space-between;
    height: 30px;
    padding: 8px ; 
    margin: 0 auto;
    max-width: 1000px;
    padding-left:80px;
    padding-right:80px;
}
.logo{
    display: flex;
    color:white;
    font-weight:bold;
    align-items: center;
    font-size: 24px;
  
}
ul{
    list-style: none;
    display:flex;
    margin:0;
    gap: 16px;
    color: white;
    align-items: center;
    font-size:12px;
}
.desc{
    display:flex;
    padding: 80px ;
    margin:0 auto;
    background-color: #1F2937;
    color: white;
    justify-content: space-between; 
    max-width:1000px;
    max-height: 300px;
    gap: 100px;
}
.desc-text{
    max-width: 500px;
  
}
.desc-head{
    font-size:48px;
    font-weight:bolder;
    color: #f9faf8;
}
.desc-info{
    font-size: 18px;
    color:#E5E7EB;
}
button {
    background-color: #3882F6;
    color:white;
    border-radius: 6px;
    font-weight:bold;
    width:100px;
    padding:8px 12px;
}